body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 100px;
  background: #F0F0F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #5D5D6D;
  padding-left: 20px;
}

@font-face {
  font-family: 'Saira Stencil One';
  src: local('Saira Stencil One'), url(./fonts/saira-stencil-one-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Saira';
  src: local('Saira'), url(./fonts/Saira-Regular.ttf) format('truetype');
}

